<div class="container">

<h3>Messenger</h3>

<div class="row">
  <div class="container chat-box">
    <% if @over_five %>
    <%= link_to 'Show Previous', '?m=all' %>
    <% end %>

    <% @messages.each do |message| %>
    <% if message.body %>
    <% user = User.find(message.user_id) %>
    <div class="messenger-box rounded-corner">
    <div class="header bold capitalize"><%= user.username %></div>
    <div class="timestamp"><%= message.message_time %></div>
    <%= message.body %>
    </div>
    <% end %>
    <% end %>


    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field"><%= f.text_area :body, class: "form-control rounded-corner" %></div>
    <div><%= f.text_field :user_id, value: current_user.id, type: "hidden" %></div>
    <div><%= f.submit "Add Reply", class: "btn waves-effect waves-light teal lighten-1 rounded-corner" %></div>
    <% end %>
  </div>
</div>


</div>
