<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @conversation.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @conversation.recipient_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
