<!-- start of navbar -->

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Ticked</a>
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
          <% if current_user.admin? %>
          <li><a href='/pages/admin_dashboard'>Admin Dashboard</a></li>
          <li><a href='/ticks/new'>Add Ticks</a></li>
          <% end %>
       <li><a href='/ticks'>Taxonomy</a></li>
       <li><a href='/pages/geomap' data-turbolinks="false">Geomap</a></li>
       <li><a href='/posts'>Forum</a></li>
       <li><a href='/contact'>Contact Us</a></li>

       <!-- dropdown trigger -->
       <li><a class="dropdown-button capitalize" href="#!" data-activates="dropdown1"><%= current_user.username %><i class="material-icons right">arrow_drop_down</i></a></li>
       <% else %>
       <li><%= link_to 'Login', new_user_session_path  %></li>
       <% end %>


    </ul>
    <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
          <li><a href='/ticks/new'>Add Ticks</a></li>
          <li><a href='/pages/admin_dashboard'>Admin Dashboard</a></li>
          <% end %>
        <li><a href='/ticks'>Taxonomy</a></li>
        <li><a href='/pages/geomap'>Geomap</a></li>
        <li><a href='/posts'>Forum</a></li>
        <li><a href='/contact'>Contact Us</a></li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
       <li><%= link_to 'Login', new_user_session_path  %></li>
      <% end %>
    </ul>
  </div>
</nav>

<!-- dropdown structure -->
<ul id="dropdown1" class="dropdown-content">
 <li><a href="#!">Profile</a></li>
 <li class="divider"></li>
 <li>
   <% if user_signed_in? %>
   <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
   <% else %>
   <% end %></a>
</li>
</ul>
