<%= javascript_include_tag ('locationpicker.jquery.min.js') %>

<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP_SECRET']%>&libraries=places&callback=init" async defer></script>

<script>
  function init() {
    var input = document.getElementById('post_address');
    var options = {
      types: ['(cities)']
    };
    autocomplete = new google.maps.places.Autocomplete( input, options );
  }
  google.maps.event.addDomListener(window, 'load', init);
</script>

<div class="container">

  <%= form_for(post) do |f| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</p>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "field">
      <%= f.label :pictures %><br>
      <%= f.file_field :post_image, multiple: true %>
      </div>


    <div class="field">
      <%= f.label :host_species %>
      <%= f.text_field :host_species %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :id => "textarea1", :class => "materialize-textarea"%>
    </div>

    <div class="field">
      <%= f.label :address, "Suburb"%>
      <%= f.text_field :address %>
    </div>


    <div class="actions btn waves-effect waves-light teal lighten-1 rounded-corner">
      <%= f.submit %>
    </div>
  <% end %>

</div>
